includes:
    - ./pocketmine.phpstan.neon
parameters:
    bootstrapFiles:
        - vendor/autoload.php
    paths:
        - ../../../src
rules:
    - pocketmine\phpstan\rules\DisallowEnumComparisonRule
